<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
  <div class="container">
    <div class="row vh-md-100">
      <div class="col-md-9 col-sm-10 col-12 mx-auto my-auto text-center">
        <h1 class="heading-black text-capitalize">REAL ESTATE AGENT</h1>
        <p class="lead py-3">Welcome to ANDRONIC Real Estate Services. Your trusted partner in finding your dream home.
          Whether you're buying, selling, or investing, we're here to guide you every step of the way.
          Explore our listings, discover your perfect property, and let us turn your real estate dreams into reality. Start your journey with us today!</p>
      </div>
    </div>
  </div>
</section>
