.bg-hero {
  background-image: url('../../../assets/img/home-page-background.jpg');
  background-size: cover;
  background-position: center;
  background-color: transparent; /* Ensure the background color is transparent */
}
